<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.corningrey.camunda.api.dao.APIMapper">
    <!--select-->
    <select id="selectByPrimaryKey" parameterType="string"
            resultType="me.corningrey.camunda.api.model.APIModel">
        SELECT
         t.L_ID as id,
        t.L_TENANCY_ID as tenancyId,
        (select gtt.VC_NAME from gc_tenancy_info gtt where gtt.L_ID=t.L_TENANCY_ID  and gtt.IS_DELETE='0') as tenancyName,
        t.API_NAME as name,
        t.API_URL as url,
        t.SEARCH_URL as searchUrl,
        t.VC_INTERFACE_TYPE as interfaceType,
        t.API_TYPE as type,
        func_get_dim_name('apiType', t.API_TYPE, 'zh_CN') as typeName,
        t.API_REQUEST_METHOD as requestMethod,
         func_get_dim_name('requestMethod', t.API_REQUEST_METHOD, 'zh_CN') as requestMethodName,
        t.API_PARAMETER as parameter,
        t.IS_DEFAULT as isDefault,
        t.VC_REMARK as remark
        FROM
        gc_api t
        WHERE t.L_ID = #{id}
    </select>
</mapper>